<h2>My Cards</h2>
<ul class="cards">
  <li *ngFor="let card of cards"
    [class.selected]="card === selectedCard"
    (click)="onSelect(card)">
    <span class="badge">{{card.id}}</span> {{card.name}}
  </li>
</ul>


<app-card-detail [card]="selectedCard"></app-card-detail>


<!-- Esto es similar a <app-card-detail [card]="selectedCard"></app-card-detail>

<div *ngIf="selectedCard">

  <h2>{{selectedCard.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedCard.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedCard.name" placeholder="name"/>
    </label>
  </div>

</div>
-->

<!--
<h2>{{card.name | uppercase}} Details</h2>
<div><span>id: </span>{{card.id}}</div>
<div><span>name: </span>{{card.name}}</div>

<h2>{{card2.name}} Details</h2>
<div><span>id: </span>{{card2.id}}</div>
<div><span>name: </span>{{card2.name}}</div>

<div>
    <label>name:
      <input [(ngModel)]="card.name" placeholder="name"/>
    </label>
  </div>
  -->